<!DOCTYPE html>
<html>
<head>
	<title>VUE-COMPONENT 6</title>
</head>
<style type="text/css">
	#app, #demo {
		border: 2px solid;
		width: 500px;
		background: #d3d3d3;
		padding: 10px;
	}
	.test {
		height: 50px;
		margin: 10px 0;
		background: #ee3;
	}
	p {
		border: 1px solid #d3d3d3;
	}
	pre {
		background: #e4e4e4;
		border: 2px solid #888;
	}
</style>
<body>
<div>
	<h2>使用Props：将父组件的数据传给子组件</h2>
	<p>props的使用：子组件使用prop选项来声明它期待获得的数据（一般情况下绑定的是一个表达式， 为String类型。若想传递一个实际的number，需要使用v-bind），该数据不一定是从父组件得来的</p>
<pre>
	// 组件构造器中
	props: ['send']
	// 组件调用时
	&lt;my-component1&gt; send='表达式' &lt;/my-component1&gt;
</pre>
	<p>props的使用：子组件使用prop选项来声明它期待获得的数据，若数据来自父组件，则需要使用动态Prop：使用v-bind。结果是：当父组件的数据变化时，该变化也会传导到子组件</p>
<pre>
	// 组件构造器中
	props: ['age']
	// 组件调用时
	&lt;my-component1&gt; v-bind:age='父组件中的属性名称' &lt;/my-component1&gt;
</pre>

	<p>props默认为单向绑定，即 </p>
	<ul>
		<li>子组件的数据由绑定的父组件的数据决定</li>
		<li>父组件的数据一旦改变，子组件相应改变</li>
		<li>修改子组件的数据，父组件数据不改变</li>
	</ul>
	<p><s>也可以使用.sync显式地指定双向绑定。这样修改子组件数据也会影响到父组件</s>.sync只在vue1.x中生效</p>
	<p><s>也可以使用.once显式地指定单次绑定</s>.once只在vue1.x中生效</p>
</div>
	<!-- view -->
	<div id="app">
	<table>
		<tr>
			<th colspan="2">父组件数据</th>
		</tr>
		<tr>
			<td>message</td>
			<td>{{message}}</td>
			<td><input type="text" v-model="message"></td>
		</tr>
		<tr>
			<td>age</td>
			<td>{{age}}</td>
			<td><input type="text" v-model="age"></td>
		</tr>
	</table>
	<h4>默认行为</h4>
	<my-component1 :mes="message" :age="age" send="这是通过props传入的一个普通字符串"></my-component1>
	</div>

	<script src="../vue.js"></script>
	<template id="comp">
		<table>
			<tr>
				<th colspan="2">子组件数据</th>
			</tr>
			<tr>
				<td>message</td>
				<td>{{mes}}</td>
				<td><input type="text" v-model="mes"></td>
			</tr>
			<tr>
				<td>age</td>
				<td>{{age}}</td>
				<td><input type="text" v-model="age"></td>
			</tr>
			<tr>
				<td>send</td>
				<td>{{send}}</td>
				<td><input type="text" v-model="send"></td>
			</tr>
		</table>
	</template>

	<script type="text/javascript">
		var vm = new Vue({
			el: '#app',
			data: {
				message : 'help',
				age: 30
			},
			components: {
				'my-component1': {
					template: '#comp',
					props: ['mes', 'age','send']
				},
				'my-component2': {
					template: '#comp',
					props: ['mes', 'age']
				},
				'my-component3': {
					template: '#comp',
					props: ['mes', 'age']
				},
			}
		})
	</script>

	<div id="demo">
		<div id="searchBar">
		<h3>搜索过滤</h3>
			<label>search: <input type="text" name="query" v-model="searchQuery"></label>

			<simple-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery" class="test"></simple-grid>
		</div>
	</div>
	
	<template id="gridDemo" >
		<table>
			<thead>
				<tr>
					<th v-for="col in columns" v-on:click="sortBy(key)">
						{{ col | capitalize }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="entry in dataFilter">
					<td v-for="col in columns">
						{{entry[col]}}
					</td>
				</tr>
			</tbody>
		</table>
	</template>
	
	<script type="text/javascript">
		Vue.component('simple-grid', {
			template: '#gridDemo',
			props: {
				data: Array,
				columns: Array,
				filterKey: String
			},
			data: function () {
				var sortOrders = {}
				this.columns.forEach(function (key) {
					sortOrders[key] = 1
				})
				return {
					sortKey: '',
					sortOrders: sortOrders
				}
			},
			
			computed: {
				dataFilter() {
					var sortKey = this.sortKey
					var filterKey = this.filterKey && this.filterKey.toLowerCase()
					var order = this.sortOrders[sortKey] || 1
					var data = this.data
					if(filterKey){
						data = data.filter(function (row) {
							return Object.keys(row).some(function (key) {
								return String(row[key]).toLowerCase().indexOf(filterKey) > -1
							})
						})
					}
					if(sortKey) {
						data = data.slice().sort(function(a, b) {
							a = a[sortKey]
							b = b[sortKey]
							return (a===b ? 0 : a > b ? 1 : -1) * order
						})
					}
					return data
					// var self = this
					// console.log(self)
					// return self.data.filter(v => {
					// 	for(key in v) {
					// 		v[key].indexOf(filterKey)
					// 	}
					// })
				}
			},
			filters: {
				capitalize: function (str) {
					return str.charAt(0).toUpperCase() + str.slice(
					1)
				}	
			} ,
			methods: {
				sortBy (key) {
					this.sortKey = key
					this.sortOrders[key] = this.sortOrders[key] * -1
				}
			},
		})
		var demo = new Vue({
			el: "#demo", 
			data: {
				searchQuery: '',
				gridColumns: ['name', 'age', 'sex'],
				gridData: [{
					name: 'Jack',
					age: 23,
					sex: 'Male'
				},{
					name: 'Bill',
					age: 30,
					sex: 'Male'
				},{
					name: 'Tracy',
					age: 32,
					sex: 'Famale'
				},{
					name: 'Chris',
					age: 22,
					sex: 'Male'
				}]
			},
			
		})
	</script>
</body>
</html>