/* 注释， 但是会被编译到css文件 */
body {
  background: #e3e3e3;
}
/* 变量， 用@开头 分号 冒号 */
.t1 {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: #ff0;
}
/* 混合， 可重用的属性 */
.border {
  border: 4px solid #f00;
}
.t2 {
  border: 4px solid #f00;
  display: inline-block;
  width: 120px;
  height: 120px;
  background: #ff0;
}
/* 混合 带变量*/
.t3 {
  border: 10px dotted #77eeaa;
}
/* 混合 带默认值 */
.t3 {
  height: 100px;
}
.t2 {
  height: 150px;
}
/* 匹配模式， 相当于if */
.tri {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 20px solid;
  border-color: pink transparent transparent transparent;
}
.t4 {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 20px solid;
  border-color: pink transparent transparent transparent;
}
.t5 {
  border: solid 10px;
  border-color: #ffc0cb transparent transparent;
  width: 0;
  height: 0;
  overflow: hidden;
}
.t6 {
  border: solid 20px;
  border-color: transparent transparent transparent #008000;
  width: 0;
  height: 0;
  overflow: hidden;
}
.t7 {
  border: solid 30px;
  border-color: transparent transparent #0000ff transparent;
  width: 0;
  height: 0;
  overflow: hidden;
}
.t8 {
  border: solid 40px;
  border-color: transparent #ffd700 transparent transparent;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* 匹配模式实现定位 */
/* 运算 */
.t9 {
  width: 300px;
  height: 100px;
  border: 10px dashed #976600;
}
/* 嵌套 */
.tt1 {
  width: 300px;
}
.tt1 p {
  border: 42.85714286px solid #e890ae;
}
.tt1 p a {
  font-size: 100px;
  transiton: color 3s linear;
}
.tt1 p a:hover {
  color: red;
}
.tt1 p a span {
  color: #ae96ac;
}
/* 变量 */
/* 变量 */
/* 变量 */
/* 变量 */
