/* 注释， 但是会被编译到css文件 */
body {
  background: #e3e3e3;
}
/* 变量， 用@开头 分号 冒号 */
.t1 {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: #ff0;
}
/* 混合， 可重用的属性 */
.border {
  border: 4px solid #f00;
}
.t2 {
  border: 4px solid #f00;
  display: inline-block;
  width: 120px;
  height: 120px;
  background: #ff0;
}
/* 混合 带变量*/
.t3 {
  border: 10px dotted #77eeaa;
}
/* 混合 带默认值 */
.t3 {
  height: 100px;
}
.t2 {
  height: 150px;
}
/* 匹配模式， 相当于if */
.tri {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 20px solid;
  border-color: pink transparent transparent transparent;
}
.t4 {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 20px solid;
  border-color: pink transparent transparent transparent;
}
.t5 {
  width: 0;
  height: 0;
  overflow: hidden;
  border: solid 10px;
  border-color: #ffc0cb transparent transparent;
}
.t6 {
  width: 0;
  height: 0;
  overflow: hidden;
  border: solid 20px;
  border-color: transparent transparent transparent #008000;
}
.t7 {
  width: 0;
  height: 0;
  overflow: hidden;
  border: solid 30px;
  border-color: transparent transparent #0000ff transparent;
}
.t8 {
  width: 0;
  height: 0;
  overflow: hidden;
  border: solid 40px;
  border-color: transparent #ffd700 transparent transparent;
}
/* 变量 */
/* 变量 */
/* 变量 */
/* 变量 */
/* 变量 */
/* 变量 */
