// 注释， 这种不会被编译
/* 注释， 但是会被编译到css文件 */ 

body {
	background: #e3e3e3;
}


/* 变量， 用@开头 分号 冒号 */
@test_width : 120px;

.t1 {
	display: inline-block;
	width: @test_width;
	height: @test_width;
	background: #ff0;
}

/* 混合， 可重用的属性 */
.border {
	border: 4px solid #f00;
}
.t2 {
	.border;
	.t1;
}
/* 混合 带变量*/
.border2(@border_width) {
	border: @border_width dotted #7ea;
}

.t3 {
	.border2(10px);
}
/* 混合 带默认值 */
.height(@high:100px){
	height: @high;
}

.t3 {
	.height(); // 不传参， 默认 为 100px
}
.t2 {
	.height(150px); // 传参，设置为括号内的值
}


/* 匹配模式， 相当于if */
.tri {
	width: 0;
	height: 0;
	overflow: hidden;
	border: 20px solid;
	border-color: pink transparent transparent transparent;
}
.t4 {
	.tri;
}

.tri_(top, @width:10px, @color: pink) {
	width: 0;
	height: 0;
	overflow: hidden;
	border: solid @width;
	border-color: @color transparent transparent;
}

.tri_(top, @width:10px, @color: pink) {
	width: 0;
	height: 0;
	overflow: hidden;
	border: solid @width;
	border-color: @color transparent transparent;
}

.tri_(left, @width:20px, @color: green) {
	width: 0;
	height: 0;
	overflow: hidden;
	border: solid @width;
	border-color: transparent transparent transparent @color ;
}

.tri_(bottom, @width:30px, @color: blue) {
	width: 0;
	height: 0;
	overflow: hidden;
	border: solid @width;
	border-color: transparent transparent  @color transparent;
}

.tri_(right, @width:40px, @color: gold) {
	width: 0;
	height: 0;
	overflow: hidden;
	border: solid @width;
	border-color: transparent @color transparent transparent;
}
.t5 {
	.tri_(top);
}
.t6{
	.tri_(left);
}
.t7 {
	.tri_(bottom);
}
.t8 {
	.tri_(right);
}


/* 变量 */
/* 变量 */
/* 变量 */
/* 变量 */
/* 变量 */
/* 变量 */