section {
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.sec {
	width: 220px;
	height: 310px;
	border: 1px solid #1e1e1e;
	margin: 10px;
} 
.sec:hover {
	filter: none;
}
h4 {
	font-size: 30px;
	line-height: 50px;
	margin: 0px auto -5px;
	text-align: center;
}

img {
	width: 100%;
}
.blur {
	/*filter:blur(2px);*/
	animation: blu 4s linear infinite alternate;
}
.brightness {
	/*filter:brightness(0.5);*/
	animation: bright 4s linear infinite alternate;
}
.contrast {
	/*filter:contrast(80%);*/
	animation: contras 4s linear infinite alternate;
}
.drop-shadow {
	/*filter:drop-shadow(10px 10px 20px #991e50);*/
	animation: drop 4s linear infinite alternate;
}
.grayscale {
	/*filter:grayscale(30%);*/
	animation: grays 4s linear infinite alternate;
}
.hue-rotate {
	/*filter:hue-rotate(30deg);*/
	animation: hue 4s linear infinite alternate;
}
.opacity {
	/*filter:opacity(.7);*/
	animation: opaci 4s linear infinite alternate;
}
.saturate {
	/*filter:saturate(30%);*/
	animation: satura 4s linear infinite alternate;
}
.sepia {
	/*filter:sepia(50%);*/
	animation: sep 4s linear infinite alternate;
}
@keyframes blu {
	0% {
		filter:blur(2px);
	}
	50% {
		filter:blur(1px);
	}
	100% {
		filter:blur(0px);
	}
}
@keyframes bright {
	0% {
		filter:brightness(0.5);
	}
	50% {
		filter:brightness(.8);
	}
	100% {
		filter:brightness(1.5);
	}
}
@keyframes contras {
	0% {
		filter:contrast(20%);
	}
	50% {
		filter:contrast(80%);
	}
	100% {
		filter:contrast(180%);
	}
}
@keyframes drop {
	0% {
		filter:drop-shadow(10px 10px 20px #991e50);
	}
	50% {
		filter:drop-shadow(0px 0px 20px #991e50);
	}
	100% {
		filter:drop-shadow(5px 15px 20px #991e50);
	}
}
@keyframes grays {
	0% {
		filter:grayscale(30%);
	}
	50% {
		filter:grayscale(80%);
	}
	100% {
		filter:grayscale(130%);
	}
}
@keyframes hue {
	0% {
		filter:hue-rotate(30deg);
	}
	50% {
		filter:hue-rotate(130deg);
	}
	100% {
		filter:hue-rotate(330deg);
	}
}
@keyframes opaci {
	0% {
		filter:opacity(.7);
	}
	50% {
		filter:opacity(.1);
	}
	100% {
		filter:opacity(.8);
	}
}
@keyframes satura {
	0% {
		filter:saturate(30%);
	}
	50% {
		filter:saturate(80%);
	}
	100% {
		filter:saturate(130%);
	}
}
@keyframes sep {
	0% {
		filter:sepia(20%);
	}
	50% {
		filter:sepia(50%);
	}
	100% {
		filter:sepia(90%);
	}
}
