<!DOCTYPE html>
<html>
<head>
	<title>VUE v-bind</title>
	<style type="text/css">
		#app {
			border: 2px solid;
			width: 500px;
			background: #d3d3d3;
			padding: 10px;
		}
		.test {
			color: red;
		}
	</style>
</head>
<body>
<div>
<p>
	v-bind（缩写为 :） 动态的绑定一个或多个属性，通常是html的原生属性。
</p>
<p>
	语法：
	<pre>
&lt;p v-bind:class="selected"&gt;
	selected为data的属性， 
	p的class属性被设置为selected的值
	可以直接缩写为 ：class ：src :style
&lt;/p&gt;
&lt;p v-bind="{id:someProp, class:otherProp}"&gt;
	直接绑定到一个有属性的对象
&lt;/p&gt;
	</pre>
</p>
<p></p>
</div>
	<!-- view -->
	<div id="app">
		测试区域:红色文字为添加v-bind后的效果
		<hr>
		<p>没有v-bind属性</p>
		<p v-bind:class="bindTest">添加了v-bind属性</p>
		
		<p v-bind="{id:n, class:bindTest}">这个p标签是通过对象方式添加v-bind属性的</p>
		<ul>
			<li v-for="num in n" v-bind:class="num%2?bindTest:''">
				
				{{num}}
				<span v-if="num%2"> 这是添加了v-bind的效果</span>
			</li>
 		</ul>
	</div>
	<script src="../vue.js"></script>

	<script type="text/javascript">
		// model
		var data = {
			bindTest: "test",
			n : 10
		}
		
		// 创建vue实例，用于连接View与Model 
		var vm = new Vue({
			el: '#app',
			data,
		})

	</script>
</body>
</html>